*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"be vietnam pro";
    text-align: center;
}

body{
    background-images: url(Images2/portraitbg.webp);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
}

header{
    background-color:rgb(152, 133, 227);
    padding:35px;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
}

table,th, td{
    border: 2px solid black;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 7.5px;
}

#opening{
    border:1px grey;
    box-shadow: 0px 0px 10px #444444;
    padding:20px;
    margin:40px;
    margin-left:100px;
    margin-right:100px;
}

#deskripsi{
    text-align: left;
    padding-top:10px;
}

h2{
    text-align: left;
    color: rgb(50, 50, 242);
}

#openingtitle{
    color: rgb(50, 50, 242);
}

#navigasi{
    background-color: rgb(117, 97, 97);
    display: inline-block;
    width: 100%;
    padding:20px;
    margin-top:-30px;
}

.nav{
    margin:20px;
    color:rgb(104, 179, 205);
}

#mainthing{
    border:1px grey;
    box-shadow: 0px 0px 10px #484747;
    padding:20px;
    margin:-60px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 20px;
}

footer{
    padding:30px;
    background-color: rgb(130, 110, 211);
    padding-bottom:50px;
    display:flow-root;
}

.nigh{
    margin-left:15px;
    margin-right:15px;
    color:rgb(226, 244, 36)
}

#gallery{
    border:1px grey;
    box-shadow: 0px 0px 10px #484747;
    padding:20px;
    margin:-20px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 70px;
    width: fit-content;
}

.gambar{
    width:30vw;
    border: 8px solid rgb(255, 215, 0);
    margin:0px 20px 30px 20px;
}

h1{
    font-size: 50px;
}

#info{
    border:1px grey;
    box-shadow: 0px 0px 10px #484747;
    margin-left:180px;
    margin-right:180px;
    padding:25px;
    margin-bottom: 80px;
}

li{
    text-align: left;
    margin-left:20px;
}

#pendaftaran{
    margin-left:240px;
    margin-right:240px;
    margin-bottom: 60px;
    padding:25px;
    font-size: 30px;
}
#form{
    text-align: center;
    font-size: 60px;
}

input{
    width:180px;
}
#submit{
    border-radius:10px;
}

#logo{
    float:right;
    width: 10vw;
    height: 10vw;
    margin-top:20px;
    margin-right:60px;
    margin-left:-200px;
    border:8px solid gold;
}


