*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"be vietnam pro";
    text-align: center;
}

header{
    background-color:rgb(56, 144, 173);
    padding:35px 35px 15px 35px;
    position:sticky;
    width:100vw;
    top:0px;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
}

table,th, td{
    border: 2px solid black;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 7.5px;
}

#opening{
    border:1px grey;
    box-shadow: 0px 0px 10px #444444;
    padding:20px;
    margin:40px;
    margin-left:100px;
    margin-right:100px;
    background-color: lightgrey;
    border-radius: 15px;
}

#deskripsi{
    text-align: left;
    padding-top:10px;
}

h2{
    text-align: left;
    color: rgb(22, 96, 120);
}

#navigasi{
    background-color: lightgrey;
    display: inline-block;
    width: 100%;
    padding:20px;
}

.nav{
    margin:20px;
    color:rgb(7, 89, 117);
    font-weight: bold;
}

#mainthing{
    border:1px grey;
    box-shadow: 0px 0px 10px #484747;
    padding:20px;
    margin:-60px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 20px;
    background-color: lightgrey;
    border-radius: 15px;
}

footer{
    padding:30px;
    background-color: rgb(56, 144, 173);
    padding-bottom:50px;
    display:flow-root;
}

.nigh{
    margin-left:15px;
    margin-right:15px;
    color:rgb(226, 244, 36)
}

#gallery{
    border:1px grey;
    box-shadow: 0px 0px 10px #484747;
    padding:20px;
    margin:-20px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 70px;
    width: fit-content;
    background-color: lightgrey;
    border-radius: 15px;
}

.gambar{
    width:30vw;
    border: 8px solid rgb(255, 215, 0);
    margin:0px 20px 30px 20px;
}

h1{
    font-size: 50px;
    margin-bottom: -10px;
}

#info{
    border:1px grey;
    box-shadow: 0px 0px 10px #484747;
    margin-left:180px;
    margin-right:180px;
    padding:25px;
    margin-bottom: 80px;
    background-color: lightgrey;
    border-radius: 15px;
}

li{
    text-align: left;
    margin-left:20px;
}

#pendaftaran{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 60px;
    font-size: 30px;
    box-shadow: 0px 0px 10px #484747;
    background-color: lightgrey;
    width: fit-content;
    padding:25px;
    border-radius: 15px;
}

#form{
    text-align: center;
    font-size: 60px;
}

input{
    width:180px;
}
#submit{
    border-radius:10px;
}

#logo{
    float:right;
    width: 10vw;
    height: 10vw;
    margin-top:20px;
    margin-right:60px;
    margin-left:-200px;
    border:8px solid gold;
}

