.example{
    width: 500px;
    height: 400px;
    border: 8px solid #C8A848;
}

a{
    margin:10px;
    margin-top:10px;
    font-family: 'josefin sans', sans-serif;
    font-size: 22px;
    color:#7d3232;
}

h1{
    font-size: 50px;
    font-family: 'josefin sans', sans-serif;
    color: #1a1a1a;
}

body{
    padding: 20px;
    background-color: #dedee2;
}

h3, p, h2{
    font-family: 'josefin sans', sans-serif;
    color:#1a1a1a
}

h3{
    font-size: 40px;
    color:#1a1a1a;
}

header, nav{
    background-color: #6cd5c9;
    padding: 30px;
    margin:-30px;
    margin-bottom: 0px;
}

header{
    background-color: #001f3f;
}

hr{
    border: 6px solid rgb(177, 167, 167);
    margin-top: 10px;
    margin: -30px;
    margin-bottom: 0px;
}

#hr2{
    border:3px solid rgb(177, 167, 167);
    margin-bottom: -15px;
}

h2{
    font-size: 40px;
    margin-bottom:50px;
}

footer{
    background-color: #001f3f;
    padding: 40px;
    margin:-30px;
}

#deadlast, #deadfirst{
    color:mediumturquoise
}

#btp{
    font-family: 'josefin sans', sans-serif;
    font-size: 25px;
    color: #bf5353;
}


